_CoqProject
Makefile.coq.conf
Makefile.coq.all
Makefile.coq.all.conf
Makefile.coq.src.conf
.Makefile.coq.*
*.vo
*.vos
*.vok
*.v.d
*.glob
*.v.timing
Makefile.coq
*.aux
*~
Kami/Ext/Ocaml/Target.ml
Kami/Ext/Ocaml/Target.mli
Kami/Ext/Ocaml/Main.native
Kami/Ext/Ocaml/Main.byte
Kami/Ext/Ocaml/Proc.bsv
Kami/Ext/Ocaml/*.cmi
Kami/Ext/Ocaml/*.cmo
Kami/Ext/Ocaml/*.cmx
Kami/Ext/Ocaml/*.o
Kami/Ext/BluespecFrontEnd/verilog/Proc.bsv
Kami/Ext/BluespecFrontEnd/verilog/gen/
.coq-native
.coqdeps.d
*.DS_Store
.lia.cache
.nia.cache
.coq-native
