_CoqProject
Makefile.coq.conf
Makefile.coq.all
Makefile.coq.all.conf
Makefile.coq.src.conf
.Makefile.coq.*
*.vo
*.vos
*.vok
*.v.d
*.glob
*.v.timing
Makefile.coq
*.aux
*~
Kami/Ext/*
.coq-native
.coqdeps.d
*.DS_Store
.lia.cache
.nia.cache
