/* Links */
a:link {
    color: #e74c3c;
    text-decoration: none;
}

a:visited,
a:hover {
    color: #e74c3c;
    text-decoration: underline;
}

/*
 * Base structure
 */
html,
body {
    height: 100%;
    background-color: #ecf0f1;
}
body {
    font-family: "Lato";
    font-weight: 400;
    color: #2c3e50;
}

/* Paragraphs, lists, and em */
ul,
li,
p {
    font-size: 16px;
    line-height: 150%;
}
em {
    color: #468966;
    font-style: normal;
}

/* code */
.code {
    color: #468966;
    font-family: "Ubuntu Mono";
    margin: 2px;
}

